[submodule "ros2/src/GMRF-wind"]
	path = ros2/src/GMRF-wind
	url = https://github.com/MAPIRlab/GMRF-wind.git
	branch = ros2_cleaning_code
[submodule "ros2/src/olfaction_msgs"]
	path = ros2/src/olfaction_msgs
	url = https://github.com/MAPIRlab/olfaction_msgs.git
